APP_NAME=KPIAYA
ENVIRONMENT=prod
API_PREFIX=/api/v1
SECRET_KEY=replace_with_very_long_secret_key_32_chars_min
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
JWT_ALGORITHM=HS256
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/kpiaya
TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_WEBAPP_SECRET=replace_me
SUPER_ADMIN_USERNAME=Joshua_Eng1
SUPER_ADMIN_TELEGRAM_ID=6707954035
SCHEDULER_TIMEZONE=Europe/Moscow
SCHEDULER_ADMIN_INCLUDE_OPTIONAL=true
